absl-py==0.1.13
astor==0.6.2
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
boto3==1.6.19
botocore==1.9.19
bs4==0.0.1
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
cssselect==1.0.3
docutils==0.14
feedfinder2==0.0.4
feedparser==5.2.1
gast==0.2.0
gensim==3.4.0
grpcio==1.10.0
html5lib==0.9999999
idna==2.6
jieba3k==0.35.1
jmespath==0.9.3
lxml==4.2.1
Markdown==2.6.11
newspaper3k==0.2.6
nltk==3.4.5
numpy==1.14.2
Pillow==5.0.0
pkg-resources==0.0.0
protobuf==3.5.2.post1
python-dateutil==2.6.1
PyYAML==3.12
regex==2018.2.21
requests==2.18.4
requests-file==1.4.3
s3transfer==0.1.13
scipy==1.0.1
six==1.11.0
smart-open==1.5.7
tensorboard==1.7.0
tensorflow==1.12.2
termcolor==1.1.0
tldextract==2.2.0
urllib3==1.22
Werkzeug==0.14.1
